/*header css*/
.main{
  position:relative;
  margin: 22px 22px 22px 22px;
  height: auto;
}
.page-header{
  height: 100px;
  background-color: #383838 ;
}
.main-text{
  padding-top: 26px;
  padding-left: 12px;
  font-size: 46px;
  font-weight: lighter;
  color: #FFCC33;
}
.middle-space{
  width:50%;
}
.spanned-text{
  color: #fff;
}
.rest-text{
  font-size: 16px;
  padding-top: 44px;
  padding-left: 34px;
  font-weight: 100;
  color:gray;
}
/*end of header css*/

/*jumbotron styling*/
.jumbotron{
 /* Preserve aspet ratio */
 min-width: 100%;
 height: 450px;
}
.image-text{
  max-width: 24%;
  position: absolute;
  top:12%;
  transform: translate(6%);
  font-size: 32px;
  font-style: italic;
  font-weight: normal;
}

.u-img-text{
  max-width: 26%;
  position: absolute;
  top: 42%;
  transform:translate(6%);
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  text-decoration: overline underline;
}
/*jumbotron css*/

/*main article css */
.article-heading{
  font-family: sans-serif;
  font-weight: normal;
}

.main-article{
  color: #909090 ;
}

#article-button{
  width:10%;
  height: 14%;
  border: 0 solid transparent;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  background-color: #000;
  font-size: 16px;
  padding: 12px;
  color:#fff;
}

/*end of main article css*/

.article-img-con{width:100%;}
.img-edit-con{float:left;width:100px;}
.img-pen-con{float:right;width:100px;}
.img-vers-con{margin:0 auto;width:100px;}
