/*header css*/
body{
  background-color: #C0C0C0;
}
.main{
  position:relative;
  margin: 22px 22px 22px 22px;
  height: auto;
  background-color: #fff;
  padding-left: 12px;
  padding-right: 12px;
}
.page-header{
  height: 100px;
  background-color: #383838 ;
}
.main-text{
  padding-top: 26px;
  padding-left: 12px;
  font-size: 46px;
  font-weight: lighter;
  color: #FFCC33;
}
.middle-space{
  width:50%;
}
.spanned-text{
  color: #fff;
}
.rest-text{
  font-size: 16px;
  padding-top: 44px;
  padding-left: 34px;
  font-weight: 100;
  color:gray;
}
/*end of header css*/

/*jumbotron styling*/
.jumbotron{
 /* Preserve aspet ratio */
 min-width: 100%;
 height: 450px;
}
.image-text{
  max-width: 24%;
  position: absolute;
  top:5%;
  transform: translate(6%);
  font-size: 32px;
  font-style: italic;
  font-weight: normal;
}

.u-img-text{
  /*top:0.5%;*/
  padding-bottom: 2px;
  margin-bottom: 4px;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  max-width: 26%;
  position: absolute;
  top: 16%;
  transform:translate(6%);
  text-decoration: overline underline;
  /*padding: 12% 12% 12% 12%;*/
}
/*jumbotron css*/

/*main article css */
.article-heading{
  font-family: sans-serif;
  font-weight: normal;
}

.main-article{
  color: #909090 ;
}

#article-button{
  width:10%;
  height: 14%;
  border: 0 solid transparent;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  background-color: #000;
  font-size: 16px;
  padding: 12px;
  color:#fff;
}

/*end of main article css*/

/* the middle article with text and images*/
.article-img-con{
  width:100%;
  text-align:center;
}
.img-edit-con{
  float:left;
  width:20%;
  margin-left: 0%;
}
.img-pen-con{
  display: inline-block;
    margin:0 auto;
    width:20%;
}
.img-vers-con{
  float: right;
  width: 20%;
  margin-right: 0%;
}
/*end of the middle articele with text and images*/

/*image and one text*/
.image-text,.img-text-2{
  width:100%;
  text-align: center;
}
.left-text,.left-img-2{
  float: left;
  width: 68%;
  margin-left: 0 1.5%;
}
.right-img,.left-text-2{
  float: right;
  width: 32%;
  margin-right: 4%;
}
.lft-txt{
  left: 4%;
  width:35%;
}
#rgt,#rgt-2{min-width: 20%;}
/*end of image and one text*/

/*green grid css*/
.green{
  background-color: #33FF00;
  color:#fff;
  min-width: 100%;
  height: 120px;
}
.greens-text{
  padding-top: 1%;
  text-align: center;
}
/*end of green*/

/*last div css*/
.last-div{
  background-color: #383838;
  height: 120px;
}
.content-con{
  position: absolute;
  padding-top: top:8%;
  left: 30%;
  text-align: center;
}
.last-div h3{
  text-align: center;
}
#last-ul{
  text-align: center;
}
#last-ul li{
  display: inline;
  margin: 0px;
}
/*end of last div css*/
